.control-pane .dialog-target {
    min-height: 350px;
    /*max-height: 50px;*/
    /*margin-top:80px;*/
}
#defaultDialog {
    left: 23%;
    top: 0%! important;
    
}

#targetElement {
    height: 100%;
    min-height: 500px;
}

@media screen and (min-width: 150px) and (max-width: 480px) {
    .control-section {
        margin-bottom: 30px;
    }
    .control-wrapper {
        margin-bottom: 0px;
    }
}